{% extends 'base.html' %}

{% block title %}Bets History{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Enter Sports Bet</h1>
    <form action="/bet/edit/{{ bet.bet_id }}" method="post">
        <!-- CSRF protection (if needed) -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3">
            <label for="bet_id" class="form-label">Bet ID</label>
            <input type="text" id="bet_id" name="bet_id" class="form-control" value="{{ bet.bet_id }}" required>
        </div>
        <div class="mb-3">
            <label for="book" class="form-label">Book</label>
            <select id="book" name="book" class="form-select" required>
                <option value="Pinnacle" {% if bet.book == 'Pinnacle' %}selected{% endif %}>Pinnacle</option>
                <option value="Bet365" {% if bet.book == 'Bet365' %}selected{% endif %}>Bet365</option>
                <option value="Bet99" {% if bet.book == 'Bet99' %}selected{% endif %}>Bet99</option>
                <option value="Other" {% if bet.book == 'Other' %}selected{% endif %}>Other</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="capper" class="form-label">Capper</label>
            <input type="text" id="capper" name="capper" class="form-control" value="{{ bet.capper }}" required>
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" step="0.01" id="amount" name="amount" class="form-control" value="{{ bet.stake_amount }}" required>
        </div>
        <div class="mb-3">
            <label for="line" class="form-label">Line (American odds)</label>
            <input type="text" id="line" name="line" class="form-control" pattern="[-+]?[0-9]+" title="Please enter a valid American odds line (e.g., +110 or -225)" value="{{ bet.line }}" required>
        </div>
        <div class="mb-3">
            <label for="sport" class="form-label">Sport/League</label>
            <select id="sport" name="sport" class="form-select" required>
                <option value="Hockey - NHL" {% if bet.sport == 'Hockey - NHL' %}selected{% endif %}>Hockey - NHL</option>
                <option value="Football - NFL" {% if bet.sport == 'Football - NFL' %}selected{% endif %}>Football - NFL</option>
                <option value="Football - NCAA" {% if bet.sport == 'Football - NCAA' %}selected{% endif %}>Football - NCAA</option>
                <option value="Baseball - MLB" {% if bet.sport == 'Baseball - MLB' %}selected{% endif %}>Baseball - MLB</option>
                <option value="Baseball - KBO" {% if bet.sport == 'Baseball - KBO' %}selected{% endif %}>Baseball - KBO</option>
                <option value="Tennis - ATP" {% if bet.sport == 'Tennis - ATP' %}selected{% endif %}>Tennis - ATP</option>
                <option value="Tennis - WTA" {% if bet.sport == 'Tennis - WTA' %}selected{% endif %}>Tennis - WTA</option>
                <option value="MMA - UFC" {% if bet.sport == 'MMA - UFC' %}selected{% endif %}>MMA - UFC</option>
                <option value="Soccer" {% if bet.sport == 'Soccer' %}selected{% endif %}>Soccer</option>
                <option value="Basketball - NBA" {% if bet.sport == 'Basketball - NBA' %}selected{% endif %}>Basketball - NBA</option>
                <option value="Basketball - NCAA" {% if bet.sport == 'Basketball - NCAA' %}selected{% endif %}>Basketball - NCAA</option>
                <option value="Basketball - Euroleague" {% if bet.sport == 'Basketball - Euroleague' %}selected{% endif %}>Basketball - Euroleague</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="event_date" class="form-label">Event Date</label>
            <input type="datetime-local" id="event_date" name="event_date" class="form-control" value="{{ bet.event_date }}" required>
        </div>
        <div class="mb-3">
            <label for="event_match" class="form-label">Event/Match</label>
            <input type="text" id="event_match" name="event_match" class="form-control" value="{{ bet.match }}" required>
        </div>
        <div class="mb-3">
            <label for="pick" class="form-label">Pick</label>
            <input type="text" id="pick" name="pick" class="form-control" value="{{ bet.pick }}" required>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select id="status" name="status" class="form-select" required>
                <option value="Pending" {% if bet.status == 'Pending' %}selected{% endif %}>Pending</option>
                <option value="Settled" {% if bet.status == 'Settled' %}selected{% endif %}>Settled</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="result" class="form-label">Result</label>
            <select id="result" name="result" class="form-select" required>
                <option value="None">NULL</option>
                <option value="Win" {% if bet.result == 'Win' %}selected{% endif %}>Win</option>
                <option value="Loss" {% if bet.result == 'Loss' %}selected{% endif %}>Loss</option>
                <option value="Refunded" {% if bet.result == 'Refunded' %}selected{% endif %}>Refunded</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
