{% extends 'base.html' %}

{% block title %}Capper {{ capper }}'s Bets{% endblock %}

{% block content %}
    <h1>Bets for Capper {{ capper }}</h1>

    <!-- Check if there are bets for the capper -->
    {% if bets_with_cumulative_sum %}
        <table class="table table-bordered table-sm table-hover">
            <thead>
                <tr>
                    <th style="width: 3%;">#</th>
                    <th style="width: 10%;">Bet ID</th>
                    <th>Event</th>
                    <th>Pick</th>
                    <th style="width: 6%;">Stake</th>
                    <th style="width: 6%;">To Win</th>
                    <th style="width: 6%;">Line</th>
                    <th style="width: 8%;">Line</th>
                    <th style="width: 8%;">Result</th>
                    <th>Event Date</th>
                    <th style="width: 8%;">Profit Cum.</th>
                </tr>
            </thead>
            <tbody>
                {% for bet, cum_sum in bets_with_cumulative_sum %}
                 <tr {% if bet.status == 'Settled' and bet.result == 'Win' %}class="bg-win"{% endif %}
            {% if bet.status == 'Settled' and bet.result == 'Loss' %}class="bg-loss"{% endif %}
            {% if bet.status == 'Settled' and bet.result in ['Voided', 'Refunded', 'Push'] %}class="bg-void"{% endif %}
            >
                    <td>{{ loop.index }}</td>
                    <td>{{ bet.bet_id }}</td>
                    <td>{{ bet.match }}</td>
                    <td>{{ bet.pick }}</td>
                    <td>{{ "{:.2f}".format(bet.stake_amount) }}$</td>
                    <td>{{ "{:.2f}".format(bet.potential_win_amount) }}$</td>
                    <td>
                        {% if bet.line > 0 %}
                            +{{ bet.line }}
                        {% else %}
                            {{ bet.line }}
                        {% endif %}
                    </td>
                    <td>{{ bet.status }}</td>
                    <td>{{ bet.result or 'Pending' }}</td>
                    <td>{{ bet.event_date }}</td>
                    <td>{{ "%.2f"|format(cum_sum) }}$</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No bets found for this capper.</p>
    {% endif %}
{% endblock %}
