{% extends 'base.html' %}

{% block title %}Capper {{ capper }}'s Bets{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body text-center">
            <h1 class="display-4 font-weight-bold">
                <i class="fas fa-user-tie"></i> <!-- Icon for the Capper -->
                {{ capper }}'s Bets
            </h1>
        </div>
    </div>

    <!-- Display By Sport Results if available -->
    {% if sport_results %}
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th>Sport</th>
                <th style="width: 15%;">Total Bets</th>
                <th style="width: 15%;">Wins</th>
                <th style="width: 15%;">Losses</th>
                <th style="width: 15%;">Profits</th>
            </tr>
        </thead>
        <tbody>
            {% for stats in sport_results %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ stats.sport }}</td>
                <td>{{ stats.total_bets_count }}</td>
                <td>{{ stats.winning_bets_count }}</td>
                <td>{{ stats.losing_bets_count }}</td>
                <td>
                    {% if stats.profits > 0 %}
                        <span class="text-success">+{{ "%.2f"|format(stats.profits) }}$</span>
                    {% elif stats.profits < 0 %}
                        <span class="text-danger">{{ "%.2f"|format(stats.profits) }}$</span>
                    {% else %}
                        {{ "%.2f"|format(stats.profits) }}$
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No sport-specific results available.</p>
    {% endif %}


    <!-- Check if there are bets for the capper -->
    {% if bets_with_cumulative_sum %}
        <table class="table table-bordered table-sm table-hover">
            <thead>
                <tr>
                    <th style="width: 3%;">#</th>
                    <th>Book</th>
                    <th>Sport</th>
                    <th>Event</th>
                    <th>Pick</th>
                    <th style="width: 6%;">Stake</th>
                    <th style="width: 6%;">To Win</th>
                    <th style="width: 6%;">Line</th>
                    <th style="width: 8%;">Result</th>
                    <th>Event Date</th>
                    <th style="width: 8%;">Profit Cum.</th>
                </tr>
            </thead>
            <tbody>
                {% for bet, cum_sum in bets_with_cumulative_sum %}
                <tr {% if bet.result == 'Win' %}class="bg-win"{% endif %}
                    {% if bet.result == 'Loss' %}class="bg-loss"{% endif %}
                    {% if bet.result in ['Voided', 'Refunded', 'Push'] %}class="bg-void"{% endif %}
                >
                    <td><a href="/bet/edit/{{ bet.bet_id }}">{{ loop.index }}</a></td>
                    <td>{{ bet.book }}</td>
                    <td>{{ bet.sport }}</td>
                    <td>{{ bet.match|truncate(40, True, '...') }}</td>
                    <td>{{ bet.pick|truncate(35, True, '...') }}</td>
                    <td>{{ "{:.2f}".format(bet.stake_amount) }}$</td>
                    <td>{{ "{:.2f}".format(bet.potential_win_amount) }}$</td>
                    <td>
                        {% if bet.line > 0 %}
                            +{{ bet.line }}
                        {% else %}
                            {{ bet.line }}
                        {% endif %}
                    </td>
                    <td>{{ bet.result or 'Pending' }}</td>
                    <td>{{ bet.event_date }}</td>
                    <td>{{ "%.2f"|format(cum_sum) }}$</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No bets found for this capper.</p>
    {% endif %}
{% endblock %}
