{% extends 'base.html' %}

{% block title %}BetTracker{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Betting Dashboard</h1>
<div class="row">
    <!-- Left column: Reports and New Bet -->
    <div class="col-md-8 left-column">
        <h2 class="section-header">Reports & New Bet</h2>
        <div class="row">
            <!-- Create a New Bet -->
            <div class="col-md-12 mb-4">
                <a href="{{ url_for('bet.bet_create') }}" class="card text-center">
                    <div class="card-body">
                        <div class="card-icon">
                            <i class="bi bi-pencil-square"></i>
                        </div>
                        <h5 class="card-title">Create a New Bet</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Right column: Imports -->
    <div class="col-md-4 right-column">
        <h2 class="section-header">Import Bets</h2>
        <div class="row"> <!-- Reduced spacing classes for tighter gutters -->
            <div class="col-12 mb-4">
                <a href="{{ url_for('imports.import_pinnacle_bets') }}" class="card text-center">
                    <div class="card-body">
                        <div class="card-icon">
                            <i class="bi bi-cloud-upload"></i>
                        </div>
                        <h5 class="card-title">Pinny</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Readme Section: New features announcement -->
<div class="row mt-4">
    <div class="col-12">
        <h2 class="section-header">New features</h2>
        <div class="card mb-3">
            <div class="card-body bg-info">
                <h5 class="card-title">Sportsline stats</h5>
                <p class="card-text">You can now have access all sportsline cappers and their stats under the <a href="/sportsline">sportsline</a> section.</p>
                <p class="card-text">You have all their lifetime stats, you can click on individual cappers to get different reports & aggregations, and you can see what cappers are perform the best for every league during the current season.</p>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body bg-info">
                <h5 class="card-title">Reporting</h5>
                <p class="card-text">There's a new <a href="/report">reporting</a> section, that for now, allows you to look at your results for any time period, always aggregated by sports/leagues.</p>
                <p class="card-text">You can filter for a specific capper if you have the need as well.</p>
                <p class="card-text">Probably more to come to reporting...</p>
            </div>
        </div>
    </div>
</div>

<!-- Readme Section: Explanation of features -->
<div class="row mt-4">
    <div class="col-12">
        <h2 class="section-header">How to Use BetTracker</h2>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">1. Create a Bet</h5>
                <p class="card-text">To create a new bet, click the "Create a New Bet" button in the top section. Fill in the required details like event date, stake, potential winnings, and the line, then submit to save the bet.</p>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">2. Edit a Bet</h5>
                <p class="card-text">You can edit an existing bet by navigating to the Bets page. Find the bet you'd like to edit, click the edit button, and update any fields you need. Be sure to save your changes when you're done.</p>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">3. Assign Cappers</h5>
                <p class="card-text">Each bet can be assigned to a capper, who provides betting tips. When entering a new bet, you'll have the option to enter the capper attached to the bet. There's also "Assign Cappers" feature to assign cappers in batch, this is mainly used when bets are imported and not created manually. Cappers help organize bets based on who made the pick and track how profitable they are.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
